{% extends 'base.html' %}


{% block title %}

Empleado {{empleado.first_name}}
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
   <div class="grid-x">
      <h1>Lista de departamento</h1>
        <div class="cell">
            <table>
              <thead>
                <tr>
                  
                  <th width="150">NOMBRE</th>
                  <th width="150">APELLIDO</th>
                  <th width="150">DEPARTAMENTO</th>
                  <th width="150">HABILIDADES</th>
                  
                </tr>
              </thead>

                <tbody>
                     
                    <tr>
                        
                        <td>{{ empleado.first_name }}</td>
                        <td>{{ empleado.last_name }}</td>
                        <td>{{empleado.departamento}}</td>
                        <td>{{empleado.habilidades}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
   </div>
</div>



{% endblock content %}

<h3>Todos los datos</h3>

<p>{{ empleado.first_name }}</p>
<p>{{ empleado.last_name }}</p>
<p>{{empleado.departamento}}</p>
<p>{{empleado.habilidades}}</p>

